{
    "parser": "babel-eslint",
    "plugins": [
        "react",
        "jsx-a11y"
    ],
    "extends": [
        "airbnb-base", 
        "plugin:react/recommended", 
        "plugin:jsx-a11y/recommended"
    ]
}